@charset "UTF-8";
/* Home */
.grid-ContenedorHome {
  background-color: rgba(230, 197, 106, 0.5);
  color: #333;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.imgHome {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 10px 0;
  padding: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main and Containers */
main {
  display: grid;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

nav ul li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #9bb2f2;
}

h1 {
  font-size: 50px;
  text-decoration: underline;
}

h2 {
  font-size: 25px;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

h4 {
  text-decoration: underline;
}

h5 {
  margin: 16px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
}

p {
  margin: 16px 0;
  text-align: center;
  font-size: 20px;
}

/* Body */
body {
  background-image: url("../img/fondo.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-repeat: space;
  margin: 20px;
  padding: 20px;
}

/* Menu */
.grid-Menu {
  height: 140;
  background-color: rgba(77, 104, 179, 0.615);
  display: grid;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* Texts and Links */
.grid-menu-1, .grid-menu-h1 {
  text-align: center;
  color: #f1f1f1;
}

/* Main and Containers */
main {
  display: grid;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  .grid-header, .grid-Menu {
    height: auto;
    padding: 5px;
    text-align: center;
  }
  .grid-menu-h1 {
    font-size: 30px;
  }
  nav ul {
    flex-direction: column;
    margin-right: 0;
  }
  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  .grid-header, .grid-Menu {
    height: auto;
    padding: 5px;
    text-align: center;
  }
  .grid-menu-h1 {
    font-size: 30px;
  }
  nav ul {
    flex-direction: column;
    margin-right: 0;
  }
  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .responsive-iframe {
    height: 200px; /* Ajusta la altura para pantallas pequeñas */
  }
  .Contenedor-Form2 {
    padding: 5% 1%;
  }
  main {
    display: grid;
    margin: 5px;
    padding: 2px;
  }
}
/* Productos */
.ContenedorProductos {
  margin: 20px;
  border: 2px solid #5E8B7E;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Productos */
.imgProductos {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px 0;
}

.imgProductos:hover {
  transform: scale(1.1);
  transition: 2s;
}

.grid-texto {
  text-align: center;
  text-decoration-color: azure;
}

.h2-productos {
  text-align: center;
  color: azure;
}

.grid-footer {
  height: 140x;
  background-color: rgba(77, 104, 179, 0.6156862745);
  display: grid;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: center;
}

/* Header */
.grid-header {
  height: 140;
  background-color: rgba(77, 104, 179, 0.615);
  display: grid;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.responsive-iframe {
  width: 100%;
  height: 450px; /* Ajusta la altura según tus necesidades */
}

.Contenedor-Forms {
  border: 2px solid #448371;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.contacto-submit {
  padding: 10px 20px;
  background-color: #3498db;
  color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Contenedor-Form2 {
  text-align: center;
  color: rgb(16, 218, 218);
  font-weight: bold;
  font-size: 20px;
  padding: 5% 30%;
}

/* texto nuestra historia */
.gird-texto1 {
  display: grid;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
}

/* Iframe */
iframe {
  display: grid;
  margin: auto;
}

.Remarcado {
  display: grid;
  font-size: 20px;
  text-decoration: underline;
}

/*# sourceMappingURL=estilo.css.map */
