
section {

    animation-name: LOGO;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 10s;
 }
 



@keyframes LOGO {
 
    10%{ width: 50px; }
   
      
    }
 