
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img:hover {

  transform: scale(1.2);
  transition: 1s;

}


/* Main and Containers */
main {
    display: grid;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  nav ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s ease;
  }
  a:hover {
    color: #9bb2f2;
  }

  
  h1 {
    font-size: 50px;
    text-decoration: underline;
  }
  
  h2 {
    font-size: 25px;
    text-decoration: underline;
  }
  
  h3 {
    font-size: 15px;
  }
  
  h4 {
    text-decoration: underline;
  }
  
  h5 {
    margin: 16px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
  }
  
  p {
    margin: 16px 0;
    text-align: center;
    font-size: 20px;
  }

/* Body */
body {
  background-image: url("../img/fondo.jpg");
  background-size:auto;
  background-attachment:fixed;
  background-repeat:space;
  margin: 20px;
  padding: 20px;
}

  /* Menu */
  
  .grid-Menu {
    height: 140;
    background-color: rgba(77, 104, 179, 0.615);
    display: grid;
    grid-auto-flow: dense;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  
  /* Texts and Links */
  
  .grid-menu-1, .grid-menu-h1 {
    text-align: center;
    color: #000;
  }
  
  /* Main and Containers */
  
  main {
    display: grid;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  



.logo {
  display: flex;
  justify-content: center;
  width: 100px;
}


@media screen and (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }

  .grid-header, .grid-Menu {
    height: auto;
    padding: 5px;
    text-align: center;
  }

  .grid-menu-h1 {
    font-size: 30px;
  }

  nav ul {
    flex-direction: column;
    margin-right: 0;
  }

  nav ul li {
    margin-left: 0; 
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }

  .grid-header, .grid-Menu {
    height: auto;
    padding: 5px;
    text-align: center;
  }

  .grid-menu-h1 {
    font-size: 30px;
  }

  nav ul {
    flex-direction: column;
    margin-right: 0;
  }

  nav ul li {
    margin-left: 0; 
    margin-bottom: 10px;
  }
}