
  /* Home */
  
  .grid-ContenedorHome {
    background-color: rgba(230, 197, 106, 0.5);
    color: #333;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .imgHome {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 10px 0;
    padding: auto;
  }
