@mixin button-styles {
    background-color: #8c50c4;
    color: #fff;
    border: 1px solid #85db34;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .button {
    @include button-styles;
  }
  
  .another-button {
    @include button-styles;
  }