/* texto nuestra historia */

.gird-texto1{

  display: grid;
  margin: 20px;
  padding: 20px;
  border-radius: 10px; 
  align-items: center;
  justify-content: center;
  background-color: $sombreado_principal;
  font-size: 50px;
  
}

  /* Iframe */
  
  iframe {
    display: grid;
    margin: auto;
  }
  .Remarcado {

    display: grid;
    font-size: 20px;
    text-decoration:underline;


  }