/* Productos */

.ContenedorProductos {
  margin: 20px;
  border: 2px solid #5E8B7E;
  border-radius: 10px;
  background-color: $sombreado_principal;
  color: #333;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 10px; 
  align-items: center;
  justify-content: center; 

}



  /* Productos */
  
  .imgProductos {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px 0;
    

  }
  

  .imgProductos:hover {

    transform: scale(1.1);
    transition: 2s;
  }
  
.grid-texto {

text-align: center;
text-decoration-color: azure;

}

.h2-productos {

  text-align: center;
  color: azure;

}