/* Productos */

.ContenedorProductos {
  margin: 20px;
  border: 2px solid #5E8B7E;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 10px; 
  align-items: center;
  justify-content: center; 

}



  /* Productos */
  
  .imgProductos {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px 0;
  }
  