.Contenedor-Forms  {
    border: 2px solid #448371;
    border-radius: 10px;
    background-color: $sombreado_principal;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

    
  .contacto-submit {
    padding: 10px 20px;
    background-color: #3498db;
    color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.Contenedor-Form2 {

    text-align: center;
    color: rgb(16, 218, 218);
    font-weight: bold;
    font-size: 20px;  
    padding: 5% 30%
    
  }