* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Menu */
.grid-Menu {
  height: 140;
  background-color: rgba(77, 104, 179, 0.615);
  display: grid;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100px;
}

/* Texts and Links */
.grid-menu-1, .grid-menu-h1 {
  text-align: center;
  color: #000;
}


/* Main and Containers */
main {
  display: grid;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Contenedor-Form, .Contenedor-Form2, .ContenedorProductos {
  border: 2px solid #448371;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* Text Containers */
.gird-texto1, .gird-texto2 {
  display: grid;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  grid-template-columns: auto-fit, minmax(40%, 60%, 2fr);
}



/* Productos */
.imgProductos {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px 0;
}

/* Iframe */
iframe {
  display: grid;
  margin: auto;
}

/* Home */
.grid-ContenedorHome {
  background-color: rgba(230, 197, 106, 0.5);
  color: #333;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.imgHome {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 10px 0;
  padding: auto;
}

.contacto-submit {
  padding: 10px 20px;
  background-color: #3498db;
  color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  .grid-header, .grid-Menu {
    height: auto;
    padding: 5px;
    text-align: center;
  }
  .grid-menu-h1 {
    font-size: 30px;
  }
  nav ul {
    flex-direction: column;
    margin-right: 0;
  }
  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
/* Main and Containers */
main {
  display: grid;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

nav ul li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #9bb2f2;
}

h1 {
  font-size: 50px;
  text-decoration: underline;
}

h2 {
  font-size: 25px;
  text-decoration: underline;
}

h3 {
  font-size: 15px;
}

h4 {
  text-decoration: underline;
}

h5 {
  margin: 16px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
}

p {
  margin: 16px 0;
  text-align: center;
  font-size: 20px;
}

.grid-footer {
  height: 140x;
  background-color: rgba(77, 104, 179, 0.6156862745);
  display: grid;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: center;
}

/* Header */
.grid-header {
  height: 140;
  background-color: rgba(77, 104, 179, 0.615);
  display: grid;
  grid-auto-flow: dense;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.Contenedor-Forms {
  border: 2px solid #448371;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.ContenedorProductos {
  border: 2px solid #448371;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  counter-reset: none;
}

/* Text Containers */
.gird-texto1, .gird-texto2 {
  display: grid;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  grid-template-columns: auto-fit, minmax(40%, 60%, 2fr);
}

/*# sourceMappingURL=estilo.css.map */
